        /* Réinitialisation des styles par défaut */
        body,
        h1,
        h2,
        p,
        ul,
        li {
            margin: 0;
            padding: 0;
            z-index: 10;
            position: relative;
        }

        /* Importer la police Roboto depuis Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

        /* Appliquer la police à vos éléments */
        body {
            font-family: 'Roboto', sans-serif;
        }

        body {
            background-repeat: repeat;
            background-position: center;
            background-image: linear-gradient(to top, #808080, #000024);

            background-blend-mode: overlay;
        }

        /* Styles pour l'en-tête */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background: transparent;
            backdrop-filter: blur(1px);
        }

        img {
            width: 100%;
            height: auto;
            margin: auto;
            display: flex;
            border-radius: 8px;
        }


        .im {
            width: 100%;
            height: auto;
            display: flex;
            position: absolute;
            z-index: 0;
            opacity: 0.4;
        }

        .logo img {
            max-height: 500px;
        }

        .custom-loader {
            width: 30px;
            height: 12.5px;
            border: 1px solid #1a1a1a;
            border-radius: 50%;
            display: grid;
            animation: h2 4s infinite linear;
        }

        .custom-loader:before,
        .custom-loader:after {
            content: "";
            grid-area: 1/1;
            border: inherit;
            border-radius: 50%;
            animation: inherit;
            animation-duration: 6s;
        }

        .custom-loader:after {
            --s: -1;
        }

        @keyframes h2 {
            100% {
                transform: rotate(calc(var(--s, 1)*1turn))
            }
        }

        .menu-container {
            position: relative;
        }

        .hamburger-menu {
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
        }

        .hamburger-menu span {
            width: 100%;
            height: 2px;
            background-color: #fff;
        }

        /* Style pour la fenêtre contextuelle (popup) de SweetAlert */
        .swal-overlay {
            background-color: rgba(0, 0, 255, 0.5);
            backdrop-filter: blur(5px);
        }

        .custom-swal-popup {
            width: 300px;
            background-color: #fff;
            color: #1a1a1a;
            box-shadow: none;
        }

        .custom-swal-close-button {
            color: #fff;
            font-size: 20px;
            opacity: 0.7;
        }

        .custom-swal-content {
            text-align: center;
        }

        .custom-swal-popup ul {
            list-style: none;
            padding: 0;
            margin: 20px 0;
        }

        .custom-swal-popup ul li {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .custom-swal-popup ul li:last-child {
            border-bottom: none;
        }


        /*scroll effect*/
        .scroll-section {
            padding: 15px 50px;
            color: #1a1a1a;
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 0.5s, transform 0.5s;
        }

        .scroll-section.visible {
            opacity: 1;
            transform: translateY(0);
        }

        .scroll-section-left {
            transform: translateX(-100%);
        }

        h2 {
            color: #fbb812;
        }

        /* Animation */
        h1 {
            position: relative;
            color: #fff;
            animation-name: slide-in-left;
            animation-duration: 2s;
        }

        h3,
        p {
            color: #fff;
            animation-name: slide-in-right;
            animation-duration: 2s;
        }

        .logo {
            display: inline-block;
            position: relative;
            max-width: 200px;
            animation-name: bounce-in-top;
            animation-duration: 2s;
        }

        /* Définir les animations */
        @keyframes slide-in-left {
            from {
                transform: translateX(-100%);
            }

            to {
                transform: translateX(0);
            }
        }

        @keyframes slide-in-right {
            from {
                transform: translateX(100%);
            }

            to {
                transform: translateX(0);
            }
        }

        @keyframes bounce-in-top {
            from {
                transform: translateY(-150px);
                opacity: 0;
            }

            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        /*-----------------------*/
        /* Styles pour la section d'introduction */
        .intro {
            padding: 50px;
            text-align: center;
        }

        .intro h1 {
            color: #fff;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .intro p {
            color: #fff;
            font-size: 16px;
        }

        .imginter {
            max-width: 700px;
            height: auto;
            margin: auto;
            display: flex;
        }

        button {
            margin: 20px;
        }

        .btn {
            width: 130px;
            height: 40px;
            color: #1a1a1a;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
                7px 7px 20px 0px rgba(0, 0, 0, .1),
                4px 4px 5px 0px rgba(0, 0, 0, .1);
            outline: none;
        }

        .btn {
            border: none;
            background: transparent;
            color: #fff;
            overflow: hidden;
        }

        .btn:hover {
            text-decoration: none;
            color: #1a1a1a;
        }

        .btn:before {
            position: absolute;
            content: '';
            display: inline-block;
            top: -180px;
            left: 0;
            width: 30px;
            height: 100%;
            background-color: #1a1a1a;
            animation: shiny-btn1 3s ease-in-out infinite;
        }

        .btn:hover {
            opacity: 0.5;
        }

        .btn:active {
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
        }


        @-webkit-keyframes shiny-btn1 {
            0% {
                -webkit-transform: scale(0) rotate(45deg);
                opacity: 0;
            }

            80% {
                -webkit-transform: scale(0) rotate(45deg);
                opacity: 0.5;
            }

            81% {
                -webkit-transform: scale(4) rotate(45deg);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(50) rotate(45deg);
                opacity: 0;
            }
        }

        /* Styles pour les boîtes de contenu */
        .content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 50px;
        }

        .box {
            width: 45%;
            padding: 20px;
            margin-bottom: 20px;
            background: #fff;
            border-radius: 8px;
            backdrop-filter: blur(4px);
            animation: box-fade 1s ease-in-out;
            transition: transform 0.3s ease-in-out;
        }

        @keyframes box-fade {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .box:hover {
            transform: scale(1.05);
        }

        .box img {
            max-width: 100%;
            height: auto;
            animation: image-fade 1s ease-in-out;
        }

        @keyframes image-fade {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .box .text {
            animation: text-fade 1s ease-in-out;
        }

        @keyframes text-fade {
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .box i.material-icons {
            font-size: 48px;
            color: #1a1a1a;
            display: block;
            margin-bottom: 10px;
        }

        @media (max-width: 768px) {
            .intro {
                padding: 20px;
            }

            .btn {
                margin: 10px auto;
            }

            .content {
                padding: 20px;
            }

            .box {
                width: 100%;
            }
        }

        @media (max-width: 480px) {
            .menu-icon {
                display: block;
            }

            .menu li {
                margin-left: 0;
            }

            .menu li a {
                color: #1a1a1a;
            }

            .box:hover {
                transform: none;
            }
        }

        a {
            color: #5a8ae7;
            text-decoration: none;
        }

        a:hover {
            opacity: 0.8;
        }

        .ban {
            width: 100%;
            height: auto;
        }

        footer {
            background-color: #1a1a1a;
            color: #808080;
            padding: 10px 5px;
        }

        .footer-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .footer-section {
            flex-basis: 30%;
            margin-bottom: 20px;
        }

        .footer-section h3 {
            margin-bottom: 10px;
        }

        .footer-section p,
        .footer-section ul,
        .footer-section a {
            color: #808080;
            text-decoration: none;
            font-size: 14px;
        }

        .footer-section.about p {
            line-height: 1.5;
        }

        .footer-section.links ul {
            list-style: none;
            padding: 0;
        }

        .footer-section.links li {
            margin-bottom: 5px;
        }

        .footer-section.links a:hover {
            color: #7fffd4;
        }

        .footer-section.contact p i {
            margin-right: 10px;

        }

        .footer-bottom {
            background-color: #1a1a1a;
            padding: 0px 0;
            text-align: center;
        }

        .footer-bottom p {
            font-size: 12px;
            color: #ccc;
            margin: 0;

        }

        .profile-image {
            display: block;
            margin: 0 auto;
            /* border-radius: 50%;*/
            max-width: 600px;
            height: auto;
        }

        .avis {
            max-width: 500px;
            height: auto;
            justify-content: center;
        }


        .uresta-table {
            border-collapse: collapse;
            border-spacing: 0;
            font-weight: bold;
            text-align: center;
            width: 1000px;
            max-width: 100%;
            margin: 20px auto;
            font-size: 16px;
        }

        .uresta-table td {
            border: 2px solid transparent;
            overflow: hidden;
            padding: 15px 5px;
            word-break: normal;
            min-width: 20%;
            width: 25%;
        }

        .uresta-table th {
            background: transparent;
            border: 2px solid transparent;
            border-bottom: none;
            color: grey;
            overflow: hidden;
            padding: 20px 5px;
            word-break: normal;
        }

        .uresta-table th:not(:last-of-type) {
            border-right-color: transparent;
        }

        .uresta-table td:first-of-type {
            background: transparent;
            color: white;
        }

        .uresta-table tr:first-of-type td {
            background: transparent;
            color: white;
        }

        .uresta-table tr>*:first-of-type {
            min-width: 25%;
        }

        .uresta-table tr:not(:first-of-type, :last-of-type) td:first-of-type {
            border-bottom-color: transparent;
        }

        .uresta-table tr:not(:first-of-type) td:nth-of-type(2) {
            background: transparent;
        }

        .uresta-table span {
            display: block;
            margin: 0 auto;
            position: relative;
            color: transparent;
            width: 1em;
            height: 1em;
        }

        .uresta-table span::before,
        .uresta-table span::after {
            content: "";
            position: absolute;
            width: 2em;
            height: 0.5em;
            border-radius: 1em;
        }

        .uresta-table .check-mark::before,
        .uresta-table .check-mark::after {
            background: #05a54b;
            transform: rotate(-45deg);
            top: 0.25em;
            left: 0;
        }

        .uresta-table .check-mark::after {
            transform: rotate(45deg);
            width: 1.25em;
            left: -0.5em;
            top: 0.5em;
        }

        .uresta-table .x-mark {
            filter: drop-shadow(0 0 1px grey) drop-shadow(0 0 1px grey);
        }

        .uresta-table .x-mark::before,
        .uresta-table .x-mark::after {
            background: white;
            height: 0.35em;
            transform: rotate(45deg);
            top: 0.4em;
            left: -0.5em;
            width: 2.25em;
        }

        .uresta-table .x-mark::after {
            transform: rotate(-45deg);
        }

        @media screen and (max-width: 1000px) {
            .uresta-table {
                width: auto;
                font-size: 12px;
            }

            .uresta-table tr>* {
                padding: 10px 3px;
                width: 25%;
            }

            .uresta-table-wrap {
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }
        }

        /* Pen style, don't impliment */
        .check {
            font-family: 'Poppins', sans-serif;
            width: 100%;
            height: auto;
            display: grid;
            margin: 0;
            align-content: center;
            background-color: black;

        }